/**
* $Id: impressionstyle.css
* Module: Impression
*/

.impression_even {
  background-color: #DEE3E7; 
  padding: 5px;}
  
tr.impression_even td {
  background-color: #DEE3E7; 
  padding: 5px;}
  
.impression_legend {
  font-weight: bold; 
  color: #639ACE; }

.impression_articleTitle {
  background-color: #E8E6E2;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 5px;}

.impression_articleFooter {
  background-color: #E8E6E2;
  height: 18px;
  font-size: 12px; 
  font-weight: bold;
  text-align: right;
  display: block;
  padding: 2px;}

.impression_articleMain {
  display: table;
  padding-left:6px;
  padding-right:6px;
  padding-bottom: 6px;
  border-left: 1px solid #E8E6E2;
  border-right: 1px solid #E8E6E2; }

.impression_header {
  text-align: center;
  line-height: 120%;
  padding-bottom: 12px; }

.impression_path {
  text-align: left;
  font-size: smaller;
  line-height: 120%; 
  padding-top: 12px; 
  padding-bottom: 12px; }
  
.impression_singletitle {
  font-size: 16px; 
  font-weight: bold; 
  color: #72B8FF;
  background-color:#D9D9D9;
  padding: 5px; }
  
.impression_articleloadtitle {
  text-align: left;
  font-size: 16px; 
  font-weight: bold; 
  color: #72B8FF; }
  
.impression_summary {
  margin-left: 10px; 
  margin-right: 10px;
  padding: 4px; 
  background-color:#393939; 
  border: 1px solid #999999; }
  
.impression_description {
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px; 
  background-color:#393939;
  border: 1px solid #999999; }

.impression_background {
  text-align: left;
  font-size: 14px;
  font-weight: bold; 
  color: #ffffff;
  background-color:#393939;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle; }

/* Bookmark tags */
div.impression_socbookmark a img
	{
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
	}
div.impression_socbookmark a:hover img
	{
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	}

/* end bd */
