<link href="<{$xoops_url}>/modules/impression/impressionstyle.css" rel="stylesheet" type="text/css" /><div  class="outer">
<table border="0" cellspacing="1" cellpadding="0"">
  <tr height="14px" class="even" style="font-size: 10px; font-weight: bold;">
      <td width="20%" style="padding-left: 4px;" class="impression_articleTitle"><{$smarty.const._MD_IMPRESSION_CATEGORY}></td>
      <td width="68%" class="impression_articleTitle"><{$smarty.const._MD_IMPRESSION_ARTICLE}></td>
      <td width="12%" align="center" class="impression_articleTitle"><{$smarty.const._MD_IMPRESSION_DATE}></td>
  </tr>

  <{foreach item=headlines from=$headlines}>
  <tr style="text-align: left; font-size: smaller;">
    <td class="even"><{$headlines.cattitle}></td>
    <td class="odd"><{$headlines.title}><{if $xoops_isadmin}><{$headlines.adminicons}><{/if}></td>
    <td class="odd" align="center"><{$headlines.date}></td>
  </tr>
  <{/foreach}>
</table>
</div>