<link href="<{$xoops_url}>/modules/<{$dirname}>/impressionstyle.css" rel="stylesheet" type="text/css" />
<{if $catarray.imageheader != ""}>
	<br /><div align="center"><{$catarray.imageheader}></div><br />
<{/if}>
<div><{$description}></div><br />
<div class='outer'><div class="even" style="font-size: smaller;"><b><{$category_path}></b></div></div><br />
<{if $subcategories}>
<fieldset><legend class="impression_legend"><{$smarty.const._MD_IMPRESSION_SUBCATLISTING}></legend>
<div style="padding: 2px;">
<div align= "left" style="margin-left: 5px; padding: 0px;">
 <table width="80%">
  <tr>
   <{foreach item=subcat from=$subcategories}>

    <td width="2%">
    <div  style="text-align: center;"><a href="<{$xoops_url}>/modules/<{$dirname}>/catview.php?cid=<{$subcat.id}>"><img src="<{$subcat.image}>" alt="<{$subcat.title}>" title="<{$subcat.title}>" align="top" /></a></div>  </td>

   <td> <div>
   <div style="float: left; font-size: 14px;"> <a href="<{$xoops_url}>/modules/<{$dirname}>/catview.php?cid=<{$subcat.id}>"><b><{$subcat.title}></b></a></div>
   <{if $showartcount}><div style="float: right;">&nbsp;<small>(<{$subcat.totalarticles}><{$smarty.const._MD_IMPRESSION_ARTICLESCAT}>)</small></div><{/if}></div> <br /><br />
   <div style="text-align: left; font-size: 11px;"><{$subcat.alttext}></div>

    <{if $subcat.subcategories}>
     <div style="font-size: 12px;"><li><{$subcat.subcategories}></li></div>
    <{/if}><div style="height: 4px;">&nbsp;</div>

   </td>

 <{if $subcat.count is div by 2}>
    </tr><tr>
     <{/if}>
   <{/foreach}>
   </tr>
 </table>    
</div></fieldset>
<br />
<{/if}>

<{if $show_articles == true}>
<div align="center" style="vertical-align: middle;"><small>
<b><{$smarty.const._MD_IMPRESSION_SORTBY}></b>&nbsp;<{$smarty.const._MD_IMPRESSION_TITLE}> (
<a href="catview.php?cid=<{$category_id}>&orderby=titleA">
<img src="images/up.gif" align="middle" alt="" /></a>
<a href="catview.php?cid=<{$category_id}>&orderby=titleD">
<img src="images/down.gif" align="middle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_IMPRESSION_DATE}> (
<a href="catview.php?cid=<{$category_id}>&orderby=dateA">
<img src="images/up.gif" align="middle" alt="" /></a>
<a href="catview.php?cid=<{$category_id}>&orderby=dateD">
<img src="images/down.gif" align="middle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_IMPRESSION_POPULARITY}> (
<a href="catview.php?cid=<{$category_id}>&orderby=hitsA">
<img src="images/up.gif" align="middle" alt="" /></a><a href="catview.php?cid=<{$category_id}>&orderby=hitsD">
<img src="images/down.gif" align="middle" alt="" /></a>
)</small></div>
<div align="center" style="vertical-align: middle;font-size: smaller;"><{$lang_cursortedby}></div>
<br />
<{/if}>

<{if $page_nav == true}>
<div><{$smarty.const._MD_IMPRESSION_PAGES}>: <{$pagenav}></div>
<br />
<{/if}>

<table width="100%" cellspacing="0" cellpadding="10" border="0">
 <tr>
  <td width="100%">
   <!-- Start link loop --><{section name=i loop=$article}>
	 <{include file="db:impression_articleload.html" article=$article[i]}>
   <{/section}>
   <!-- End link loop -->
  </td>
 </tr>
</table>
<{if $page_nav == true}>
<div align="right"><{$smarty.const._MD_IMPRESSION_PAGES}>: <{$pagenav}></div>
<{/if}>

<{if $moderate == true}>
<div><b><{$smarty.const._MD_IMPRESSION_MODERATOR_OPTIONS}></b></div><br />
<table width="100%" cellspacing="0" cellpadding="10" border="0">
 <tr>
  <td width="100%">
   <!-- Start link loop -->
   <{section name=a loop=$mod_arr}>
	 <{include file="db:impression_articleload.html" article=$mod_arr[a]}>
   <{/section}>
   <!-- End link loop -->
  </td>
 </tr>
</table>

<{/if}>
<{include file="db:system_notification_select.html"}>