<link rel="stylesheet" type="text/css" href="<{$smarty.const.impression_url}>/impressionstyle.css" />

<{$article.imageheader}>

<div>
     <div style="float: left; margin-left: 4px; font-size: smaller;"><{$article.path}></div>
     <div style="float: right; padding: 2px;"><{$back}></div>
</div>
<div style="clear: both;">&nbsp;</div>

<div class="impression_articleTitle"><{$article.title}><{$article.icons}></div>
<div class="impression_articleMain">


<div align="right"><small><{$smarty.const._MD_IMPRESSION_PUBLISHEDON}><{$article.updated|wordwrap:50:"\n":true}><{$smarty.const._MD_IMPRESSION_BY}><{$article.submitter}>&nbsp;<{$article.hits|wordwrap:50:"\n":true}></small></div>

<div><b><{$article.introtext}></b></div>
<br />
<div><{$article.description}></div>


<{if $tagbar}>
  <div style="font-size: smaller; padding-top: 10px;">
    <{include file="db:tag_bar.html"}>
  </div>
<{/if}> 

<{if $article.showsbookmarx > 0}>
  <div class="impression_socbookmark">
    <{$article.sbmarks}>
  </div>
<{/if}>

</div>
<div class="impression_articleFooter"><{$article.pdf}><{$article.print}><{$article.recommend}><{if $xoops_isadmin}> <small><{$article.adminarticle}></small><{/if}>&nbsp;</div>