<link href="<{$xoops_url}>/modules/<{$dirname}>/impressionstyle.css" rel="stylesheet" type="text/css" />
<{foreach item=article from=$block.article}>
<div class="even"><{$article.title}></div>
<table width="100%" border="0" cellpadding="0" cellspacing="2" >
  <tr>
    <td>
    <div style="text-align:right;"><small><{$smarty.const._MB_IMPRESSION_PUBLISHEDON}><{$article.date|wordwrap:50:"\n":true}><{$smarty.const._MB_IMPRESSION_BY}><{$article.submitter}>&nbsp;<{$article.hits|wordwrap:50:"\n":true}></small>&nbsp;</div></td>
  </tr>
  <tr>
    <td><div style="text-align: left; vertical-align: top;"><{$article.introtext}></div></td>
  </tr>
</table>
<div class="impression_articleFooter">
    <div style="float: left;"><small><b><i>&nbsp;<{$article.readmore}></i></b></small></div>
    <div style="float: right;"><span><{if $xoops_isadmin}> <small><{$article.adminarticle}>&nbsp;</small><{/if}></span></div>
    </div>
<div style="height: 4px;">&nbsp;</div>
<{/foreach}>

<div align="center" style="padding: 2px;"><{$article.impression_feed}></div>