<script language="javascript" src="<{$icms_url}>/include/linkexternal.js"></script>
<link href="<{$icms_url}>/modules/<{$module_dirname}>/impressionstyle.css" rel="stylesheet" type="text/css" />

<div style="margin-top: 15px; margin-bottom: 15px; border: #e8e8e8 1px solid; padding: 8px; border-radius: 5px;">
	<img src="<{$module_url}><{$module_image}>" alt="<{$module_name}>" style="float: <{$smarty.const._GLOBAL_LEFT}>; margin-right: 10px;" />
	<div style="color: #33538E; margin-bottom: 4px; font-size: 18px; font-weight: bold; padding-<{$smarty.const._GLOBAL_LEFT}>: 50px;">
		<{$module_name}> version <{$module_version}><{if $module_status_version}> (<{$module_status_version}>)<{/if}>
	</div>
	<div style="font-weight: bold; padding-<{$smarty.const._GLOBAL_LEFT}>: 50px;">	<{$smarty.const._MODABOUT_IMPRESSION_BY}> <{$module_author_name}></div>
	<div style="padding-<{$smarty.const._GLOBAL_LEFT}>: 50px;"><{$module_license}></div>
</div>

<{if $module_credits}>
	<div class="impression_table">
		<div class="impression_tblhdrrow" style="color: #33538E;">
			<div class="impression_tblcell"><{$smarty.const._MODABOUT_IMPRESSION_DEVELOPER_CREDITS}></div>
		</div>
		<div class="impression_tblcell"><{$module_credits}></div>
	</div>
<{/if}>

<br />

<div class="impression_table">
	<div class="impression_tblhdrrow" style="color: #33538E;">
		<div style="display: table-cell; padding: 3px;"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_INFO}></div>
		<div style="display: table-cell; padding: 3px;"> </div>
	</div>
	
	<div class="impression_tblrow">
		<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_RELEASE_DATE}></div>
		<div class="impression_tblcell"><{$module_date}></div>
	</div>

	<div class="impression_tblrow">
		<div class="impression_tblhdrcell"><{$smarty.const._MODABOUT_IMPRESSION_VERSION}></div>
		<div class="impression_tblcell"><{$module_version}></div>
	</div>

	<div class="impression_tblrow">
		<div class="impression_tblhdrcell"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_STATUS}></div>
		<div class="impression_tblcell"><{$module_status}></div>
	</div>

	<{if $module_demo_site_name}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_DEMO}></div>
			<div class="impression_tblcell"><a href="<{$module_developer_demo_site_url}>" rel="external"><{$module_demo_site_name}></a></div>
		</div>
	<{/if}>

	<{if $module_support_site_name}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_SUPPORT}></div>
			<div class="impression_tblcell"><a href="<{$module_support_site_url}>" rel="external"><{$module_support_site_name}></a></div>
		</div>
	<{/if}>

	<{if $module_submit_bug}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_BUG}></div>
			<div class="impression_tblcell"><a href="<{$module_submit_bug}>" rel="external"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_SUBMIT_BUG}></a></div>
		</div>
	<{/if}>

	<{if $module_submit_feature}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_FEATURE}></div>
			<div class="impression_tblcell"><a href="<{$module_submit_feature}>" rel="external"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_SUBMIT_FEATURE}></a></div>
		</div>
	<{/if}>

</div>

<br />

<div class="impression_table">
	<div class="impression_tblhdrrow" style="color: #33538E;">
		<div style="display: table-cell; padding: 3px;"><{$smarty.const._MODABOUT_IMPRESSION_AUTHOR_INFO}></div>
		<div style="display: table-cell; padding: 3px;"> </div>
	</div>

	<{if $module_developer_lead}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_DEVELOPER_LEAD}></div>
			<div class="impression_tblcell"><{$module_developer_lead}></div>
		</div>
	<{/if}>

	<{if $module_developer_contributor}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_DEVELOPER_CONTRIBUTOR}></div>
			<div class="impression_tblcell"><{$module_developer_contributor}></div>
		</div>
	<{/if}>

	<{if $module_people_developers}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_PEOPLE_DEVELOPERS}></div>
			<div class="impression_tblcell">
				<{foreach item=person from=$module_people_developers}>
					<div><{$person}></div>
				<{/foreach}>
			</div>
		</div>
	<{/if}>

	<{if $module_people_testers}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_PEOPLE_TESTERS}></div>
			<div class="impression_tblcell">
				<{foreach item=person from=$module_people_testers}>
					<div><{$person}></div>
				<{/foreach}>
			</div>
		</div>
	<{/if}>

	<{if $module_people_translators}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_PEOPLE_TRANSLATERS}></div>
			<div class="impression_tblcell">
				<{foreach item=person from=$module_people_translators}>
					<div><{$person}></div>
				<{/foreach}>
			</div>
		</div>
	<{/if}>

	<{if $module_people_documenters}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_PEOPLE_DOCUMENTERS}></div>
			<div class="impression_tblcell">
				<{foreach item=person from=$module_people_documenters}>
					<div><{$person}></div>
				<{/foreach}>
			</div>
		</div>
	<{/if}>

	<{if $module_people_other}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_PEOPLE_OTHER}></div>
			<div class="impression_tblcell">
				<{foreach item=person from=$module_people_other}>
					<div><{$person}></div>
				<{/foreach}>
			</div>
		</div>
	<{/if}>

	<{if $module_developer_website_url}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_DEVELOPER_WEBSITE}></div>
			<div class="impression_tblcell"><a href="<{$module_developer_website_url}>" rel="external"><{$module_developer_website_name}></a></div>
		</div>
	<{/if}>

	<{if $module_developer_email}>
		<div class="impression_tblrow">
			<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_DEVELOPER_EMAIL}></div>
			<div class="impression_tblcell"><a href="mailto:<{$module_developer_email}>" rel="external"><{$module_developer_email}></a></div>
		</div>
	<{/if}>
</div>

<{if $module_manual}>
	<br />
	<div class="impression_tblhdr" style="color: #33538E;"><{$smarty.const._MODABOUT_IMPRESSION_MANUAL}></div>
	<div class="impression_table">
		<div class="impression_tblhdrcell" style="width: 300px;"><{$smarty.const._MODABOUT_IMPRESSION_MANUAL_WIKI}></div>
		<div class="impression_tblcell">
			<{foreach item=manual from=$module_manual}>
				<div><{$manual}></div>
			<{/foreach}>
		</div>
	</div>
<{/if}>

<{if $module_warning}>
	<br />
	<div class="impression_table">
		<div class="impression_tblhdrrow" style="color: #33538E;">
			 <div style="display: table-cell; padding: 3px;"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_DISCLAIMER}></div>
		</div>
		<div class="impression_tblrow">
			<div class="impression_tblcell"><{$module_warning}></div>
		</div>
		<div class="impression_tblrow">
			<div class="impression_tblcell"><{$smarty.const._MODABOUT_IMPRESSION_WARNINGTEXT}></div>
		</div>
	</div>
<{/if}>

<{if $module_author_word}>
	<div style="display: block; border: 0; margin-top: 15px;" class="outer">
		<div style="padding: 3px; font-weight: bold;" class="bg3">&nbsp;<{$smarty.const._MODABOUT_IMPRESSION_AUTHOR_WORD}></div>
		<div class="even"><{$module_author_word}></div>
	</div>
<{/if}>

<{if $module_version_history}>
	<br />
	<div class="impression_table">
		<div class="impression_tblhdrrow" style="color: #33538E;">
			 <div style="display: table-cell; padding: 3px;"><{$smarty.const._MODABOUT_IMPRESSION_VERSION_HISTORY}></div>
		</div>
		<div class="impression_tblrow">
			<div class="impression_tblcell" style="padding: 0px;">
				<div style="padding: 4px; overflow-y: auto; height: 500px;">
					<{$module_version_history}>
				</div>
			</div>
		</div>
	</div>
<{/if}>

<{if $module_license_txt}>
	<br />
	<div class="impression_table">
		<div class="impression_tblhdrrow" style="color: #33538E;">
			 <div style="display: table-cell; padding: 3px;"><{$smarty.const._MODABOUT_IMPRESSION_MODULE_LICENSE}></div>
		</div>
		<div class="impression_tblrow">
			<div class="impression_tblcell" style="padding: 0px;">
				<div style="padding: 4px; overflow-y: auto; height: 500px;">
					<{$module_license_txt}>
				</div>
			</div>
		</div>
	</div>
<{/if}>