<link rel="stylesheet" type="text/css" href="<{$smarty.const.impression_url}>/impressionstyle.css" />
<{if $catarray.imageheader != ""}>
<div class="impression_header"><{$catarray.imageheader}></div>
<{/if}> 
<{if $catarray.indexheading != ""}> 
<h4 style="text-align: center;"><{$catarray.indexheading}></h4>
<{/if}>
<div style="padding-bottom: 12px; text-align: <{$catarray.indexheaderalign}>;"><{$catarray.indexheader}></div>
<{if count($categories) gt 0}> 
<div class="even" style="font-weight: bold;"><{$smarty.const._MD_IMPRESSION_MAINLISTING}></div>

  <!-- Start category loop -->

<table width="100%" cellspacing="5" cellpadding="3">
<{foreach item=category from=$categories}>

 <tr>
   <td width="2%">
    <div  style="text-align: center;"><a href="<{$xoops_url}>/modules/<{$module_dir}>/catview.php?cid=<{$category.id}>"><img src="<{$category.image}>" alt="<{$category.title}>" title="<{$category.title}>" align="top" /></a></div>  </td>

   <td> <div>
   <div style="float: left; font-size: 14px;"> <a href="<{$xoops_url}>/modules/<{$module_dir}>/catview.php?cid=<{$category.id}>"><b><{$category.title}></b></a></div>
   <{if $category.showartcount}><div style="float: right;">&nbsp;<small>(<{$category.totalarticles}><{$smarty.const._MD_IMPRESSION_ARTICLESCAT}>)</small></div><{/if}></div> <br /><br />
   <div style="text-align: left; font-size: 11px;"><{$category.alttext}></div>

    <{if $category.subcategories}> 
     <div style="font-size: 12px;"><li><{$category.subcategories}></li></div>
    <{/if}><div style="height: 4px; border-bottom: 1px solid #D9D9D9;">&nbsp;</div>

   </td>

</tr>

 <{/foreach}>
  <!-- End category loop --> 


</table>



<div style="text-align: left; font-size: smaller; padding: 8px;"><{$lang_thereare}></div>
<{/if}>
<div style="padding-bottom: 12px; text-align: <{$catarray.indexfooteralign}>;"><{$catarray.indexfooter}></div>
<{include file="db:system_notification_select.html"}>