<link href="<{$xoops_url}>/modules/impression/impressionstyle.css" rel="stylesheet" type="text/css" />
<div  class="outer">
<table border="0" cellspacing="1" cellpadding="0"">
  <tr height="14px" class="even" style="font-size: 12px; font-weight: bold;">
      <td width="20%" style="padding-left: 4px;" class="even"><b><{$smarty.const._MB_IMPRESSION_CATEGORY}></b></td>
      <td width="68%" class="even"><b><{$smarty.const._MB_IMPRESSION_ARTICLE}></b></td>
      <td width="12%" align="center" class="even"><b><{$smarty.const._MB_IMPRESSION_DATE}></b></td>
  </tr>

  <{foreach item=articlenew from=$block.articlenew}>
  <tr style="text-align: left; font-size: smaller;">
    <td class="even"><{$articlenew.cattitle}></td>
    <td class="odd"><{$articlenew.title}><{$articlenew.newpopicons}><{if $xoops_isadmin}><{$articlenew.adminnewicons}><{/if}></td>
    <td class="odd" align="center"><{$articlenew.date}></td>
  </tr>
  <{/foreach}>
</table>
</div>