<{if $tickertype == $smarty.const._MB_IMPRESSION_TICKER01}>
	<link rel="stylesheet" href="<{$icms_url}>/libraries/tickers/webticker/webticker.css" type="text/css" media="screen">
	<script type="text/javascript" src="<{$icms_url}>/libraries/tickers/webticker/jquery.webticker.js"></script> 
	<script type="text/javascript">
		$(function(){
			$("#webticker").webTicker();
			$("#webticker2").webTicker({travelocity: 0.05, direction: 1});
		});
	</script>

	<ul id="webticker">
		<{foreach item=iticker from=$block.ticker}>
			<li><{$iticker.title}><span>(<{$iticker.published|wordwrap:50:"\n":true}>)</span></li>
		<{/foreach}>
	</ul>
<{/if}>

<{if $tickertype == $smarty.const._MB_IMPRESSION_TICKER02}>
	<script type="text/javascript" src="<{$icms_url}>/libraries/tickers/newsticker01/newsTicker.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var options = {
				newsList: "ul.impressionticker", // assumes unordered list; specify the ul holding the news items
				startDelay: 10, // delay before first run of the ticker (ms)
				tickerRate: 80, // time gap between display of each letter (ms)
				controls: false, // show resume / stop controls (see below for the markup added)
				ownControls: false, // use own markup for controls (sets controls = true)
				stopOnHover: false, // trigger the stop action on hovering over the links
				resumeOffHover: true, // trigger the resume action on mouseout from the links. NB the links must be block display for this to work reliably with stopOnHover
				// loopDelay: 3000, // time for which full text of each item is shown at end of print-out (ms)
				placeHolder1: " |", // character placeholder shown on even loops
				placeHolder2: "_" // character placeholder shown on odd loops
			}
			$().newsTicker(options);
		});
	</script>

	<ul class="impressionticker" style="list-style-type: none;">
		<{foreach item=iticker from=$block.ticker}>
			<li><{$iticker.title}></li>
		<{/foreach}>
	</ul>
<{/if}>

<{if $tickertype == $smarty.const._MB_IMPRESSION_TICKER03}>
	<link rel="stylesheet" href="<{$icms_url}>/libraries/tickers/newsticker02/styles/ticker-style.css" type="text/css" media="screen">
	<script type="text/javascript" src="<{$icms_url}>/libraries/tickers/newsticker02/includes/jquery.ticker.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#js-news').ticker({
				speed: 0.10,
				fadeInSpeed: 600,
				controls: false,
				titleText: 'Latest news:'
			});
		});
	</script>

	<div id="ticker-wrapper" class="no-js">
		<ul id="js-news" class="js-hidden">
			<{foreach item=iticker from=$block.ticker}>
				<li class="news-item"><{$iticker.title}></li>
			<{/foreach}>
		</ul>
	</div>
<{/if}>

<{if $tickertype == $smarty.const._MB_IMPRESSION_TICKER04}>
	<script type="text/javascript" src="<{$icms_url}>/libraries/tickers/jcarousellite/jcarousellite_1.0.1c4.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#newsticker-demo").jCarouselLite({
				vertical: true,
				hoverPause:false,
				visible: 3,
				auto:3000,
				speed:500
			});
		});
	</script>

	<div id="newsticker-demo">
		<ul>
			<{foreach item=iticker from=$block.ticker}>
				<li><{$iticker.title}> (<{$iticker.published|wordwrap:50:"\n":true}>)</li>
			<{/foreach}>
		</ul>
	</div>
<{/if}>